.grid {
  @include make-grid();
  @include make-cssgrid();

  > * {
    border-width: $border-width-focus;
    border-style: solid;
    border-color: $framework-secondary;

    display:grid;
  }
}

// Row
//
// Rows contain your columns.
  .row {
    @include make-row();

    &:after,
    &:before {
      display: table;
      content: '';
      clear:both;
    }

    &:after {
      clear: both;
    }

    &:not(.row-flex) {
      @include clearfix;
    }

    &.row-gutterless {
      margin-left: 0;
      padding-left: 0;
    }

    &.row-flex {
      display: flex;
      flex-wrap: nowrap;
      margin-left: 0;
      float: left;
    }

    > * {
      box-sizing: border-box;
      @include make-col-ready();
    }
  }

// Columns
//
// Common styles for small and large grid columns

.col {
  @include make-grid-columns();
  float: left;
  flex: 1 0 0;
  box-sizing: border-box;
  padding-left: $grid-gutter;
  display: inline-grid;

  &:first-child {
    margin-left: 0;
  }

  &.last-col {
    float: right;
    padding-right: 0 !important;
  }

  .col-gutterless & {
    padding-left: 0;
  }
  :after,
  > * {
    display: grid;
    border-radius: $border-radius;
    border-width: medium;
    border-style: dashed;
    border-color: $framework-accent;
  }
}


// Single container class with breakpoint max-widths
.container,
.container-fluid {
  @include make-container();
}
