/******************************************************************
Framework Name: CJMT
Author: CJM Termini

Module Stylesheet: CJMT Branding

******************************************************************/

@import 'cjmt-variables';
@import 'typography/fonts/cjmt-font-family';
@import 'cjmt-typography';

/******************************************************************/

/*********************
  Gradient
*********************/
$cjmt-color-gradient: linear-gradient(-270deg, rgba($cjmt-color-primary-rgb, .5) 40%, rgba($cjmt-color-secondary-rgb, .35), 30%, rgba($cjmt-color-accent-rgb, .65) 20%, transparent);

$cjmt-color-gradient-white: linear-gradient(-220deg, rgba($cjmt-color-gray-500-rgb, .35) 20%, rgba($cjmt-color-primary-rgb, .4) 30%, rgba($cjmt-color-gray-700-rgb, .4) 40%, rgba($cjmt-color-gray-600-rgb, .5) 50%, transparent, rgba($cjmt-color-gray-400-rgb, .55) 60%, rgba($cjmt-color-gray-200-rgb, .6) 65%, rgba($cjmt-color-gray-500-rgb, .5) 75%);

/*********************
 Typography
*********************/
.site-title
{
    font-family: $cjmt-site-font-family;
    font-size: 4rem;
    font-weight: bolder;
    line-height: 1.75rem;

    position: absolute;
    z-index: $z-index-site-title;

    color: $cjmt-color-primary;

    writing-mode: vertical-lr;
    text-orientation: upright;
    -webkit-text-stroke-color: $cjmt-gray-800;
    -webkit-text-stroke-width: 1px;
    text-shadow: -1px 1px 0 $cjmt-color-accent, 1px 1px 0 $cjmt-color-accent, 1px -1px 0 $cjmt-color-secondary, -1px -1px 0 $cjmt-color-accent, -2px 2px 0 $cjmt-color-accent, 2px 2px 0 $cjmt-color-secondary, 2px -2px 0 $cjmt-color-secondary;
}


.page-title
{
    font-family: $cjmt-page-font-family;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: $line-height-base;

    float: left;

    width: auto;
    margin-top: 3.5rem;
    margin-left: 5rem;
    color: $cjmt-color-primary;
    text-shadow: $cjmt-color-shadow;

    -webkit-text-stroke-color: $cjmt-color-secondary;
    -webkit-text-stroke-width: 1px;
}

/******************************************************************/

$color-primary:         $cjmt-primary;
$color-secondary:       $cjmt-secondary;
$color-accent:          $cjmt-accent;

$active:                $color-primary;
$active-bg:             $color-secondary;
$active-border:         $color-accent;

$active-component-color:    $color-primary;
$active-component-bg:       $color-secondary;
$active-component-border:   $active-border;

$disabled-color:            $disabled;
$disabled-bg-color:         $disabled-bg;
$disabled-border-color:     $disabled-border;

$nav-active-color:          $nav-active;
$tabs-border-color:         $tabs-border;
$tabs-active-color:         $tabs-active;
$tabs-active-bg-color:      $tabs-active-bg;
$tabs-active-border-color:  $tabs-active-border;
