$cjmt-color-secondary-100: tint-color($cjmt-color-secondary, 80%);
$cjmt-color-secondary-200: tint-color($cjmt-color-secondary, 60%);
$cjmt-color-secondary-300: tint-color($cjmt-color-secondary, 40%);
$cjmt-color-secondary-400: tint-color($cjmt-color-secondary, 20%);
$cjmt-color-secondary-500: $cjmt-color-secondary;
$cjmt-color-secondary-600: shade-color($cjmt-color-secondary, 20%);
$cjmt-color-secondary-700: shade-color($cjmt-color-secondary, 40%);
$cjmt-color-secondary-800: shade-color($cjmt-color-secondary, 60%);
$cjmt-color-secondary-900: shade-color($cjmt-color-secondary, 80%);

$cjmt-color-primary-100: tint-color($cjmt-color-primary, 80%);
$cjmt-color-primary-200: tint-color($cjmt-color-primary, 60%);
$cjmt-color-primary-300: tint-color($cjmt-color-primary, 40%);
$cjmt-color-primary-400: tint-color($cjmt-color-primary, 20%);
$cjmt-color-primary-500: $cjmt-color-primary;
$cjmt-color-primary-600: shade-color($cjmt-color-primary, 20%);
$cjmt-color-primary-700: shade-color($cjmt-color-primary, 40%);
$cjmt-color-primary-800: shade-color($cjmt-color-primary, 60%);
$cjmt-color-primary-900: shade-color($cjmt-color-primary, 80%);

$cjmt-color-secondarys: (
  'cjmt-color-secondary-100': $cjmt-color-secondary-100,
  'cjmt-color-secondary-200': $cjmt-color-secondary-200,
  'cjmt-color-secondary-300': $cjmt-color-secondary-300,
  'cjmt-color-secondary-400': $cjmt-color-secondary-400,
  'cjmt-color-secondary-500': $cjmt-color-secondary-500,
  'cjmt-color-secondary-600': $cjmt-color-secondary-600,
  'cjmt-color-secondary-700': $cjmt-color-secondary-700,
  'cjmt-color-secondary-800': $cjmt-color-secondary-800,
  'cjmt-color-secondary-900': $cjmt-color-secondary-900
);

$cjmt-color-primarys: (
  'cjmt-color-primary-100': $cjmt-color-primary-100,
  'cjmt-color-primary-200': $cjmt-color-primary-200,
  'cjmt-color-primary-300': $cjmt-color-primary-300,
  'cjmt-color-primary-400': $cjmt-color-primary-400,
  'cjmt-color-primary-500': $cjmt-color-primary-500,
  'cjmt-color-primary-600': $cjmt-color-primary-600,
  'cjmt-color-primary-700': $cjmt-color-primary-700,
  'cjmt-color-primary-800': $cjmt-color-primary-800,
  'cjmt-color-primary-900': $cjmt-color-primary-900
);

$silver-100: tint-color($silver, 80%);
$silver-200: tint-color($silver, 60%);
$silver-300: tint-color($silver, 40%);
$silver-400: tint-color($silver, 20%);
$silver-500: $silver;
$silver-600: shade-color($silver, 20%);
$silver-700: shade-color($silver, 40%);
$silver-800: shade-color($silver, 60%);
$silver-900: shade-color($silver, 80%);

$silvers: (
  silver-100: $silver-100,
  silver-200: $silver-200,
  silver-300: $silver-300,
  silver-400: $silver-400,
  silver-500: $silver-500,
  silver-600: $silver-600,
  silver-700: $silver-700,
  silver-800: $silver-800,
  silver-900: $silver-900
);
