// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$branding-font-sans-serif: Euphorigenic, 'Hand Typewriter', 'Enjoy Writing', Avdira, Wanda 'Glass Antiqua', 'Love Ya Likes A Sister', Pompiere, 'Hadley';
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
// stylelint-enable value-keyword-case
$branding-font-family: $branding-font-sans-serif;
$font-code: 'Courier New';
$branding-text-body-font: 'Avdira';
$branding-text-site-font: 'Euphorigenic';
$branding-text-page-font: 'Hand Typewriter';
$branding-text-post-font: 'Enjoy Writing';
$branding-text-nav-font: 'Wanda';
$branding-text-btn-font: 'Hadley';
$branding-text-lead-font: 'Pompiere';
$branding-text-footer-font: 'Love Ya Like A Sister';

$body-bg: #000100;
$body-text: #e4edf4;
$body-text-align: null;

$branding-text-shadow: 1rem 2rem .75rem $branding-color-accent;

.site-title
{
    font-family: $branding-text-site-font;
    font-size: 3.75rem;
    font-weight: bolder;
    line-height: .01rem;

    color: $branding-color-accent;

    writing-mode: vertical-lr;
    text-orientation: upright;
    -webkit-text-stroke-color: $branding-color-primary;
    -webkit-text-stroke-width: 2px;
}


.page-title
{
    font-family: $branding-text-page-font;
    font-size: 2.25rem;
    font-weight: bold;
    line-height: .75rem;

    float: left;

    width: auto;

    color: $branding-color-secondary;
    text-shadow: $branding-text-shadow;

    -webkit-text-stroke-color: $branding-color-primary;
    -webkit-text-stroke-width: 1px;
}
