$enable-caret: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-container-classes: true;
$enable-cssgrid: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: true;
$enable-deprecation-messages: true;
$enable-important-utilities: true;

@import "scss/functions";
@import "scss/mixins";
@import "scss/tools";
@import "scss/branding/colors";
@import "scss/branding/typography";
@import "scss/layout/spacing";
@import "scss/grid";
@import "scss/root";
@import "scss/reboot";
@import "scss/layout/components";
@import "scss/layout/elements";
@import "scss/helpers";
@import "scss/media-query";

/* Typography */

$body-text-align: null;
$paragraph-margin-bottom: 1rem;
