$border-width:                1px;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;

$border-color:                $gray-300;

$border-width-lg: calc($border-width * 1.05);
$border-width-input: calc($border-width * 1.25);
$border-width-focus: calc($border-width * 1.75);

// scss-docs-start border-radius-variables
// scss-docs-start border-radius-variables
$border-radius-xs: .25rem;
$border-radius-sm: .75rem;
$border-radius: .875rem;
$border-radius-lg: 1.05rem;
$border-radius-xl: 1.25rem;
$border-radius-xxl: 1.50rem;
$border-radius-pill: 50rem;

$border-radius: $border-radius;

$active-border:      $framework-secondary;
$danger-border:     $red-900;
$disabled-border:   $gray-900;
$hover-border:      $active-border-hover;
$info-border:       $blue-900;
$success-border:    $green-900;
$table-border:      $teal-900;
$warning-border:    $orange-900;
$widget-border:     $silver-900;
$visited-border:    $purple-900;
$nav-border:        $border;
$invalid-border:    $red-900;
$valid-border:      $green-900;

$border-color: (
white: $white,
);
