/* BOX SHADOW */
$shadow-outset: rgba($framework-primary-rgba, .15);
$shadow-inset: $framework-secondary !default;
$shadow-text: $gray-800 !default;
$shadow-hover: $hover !default;
$shadow-active: $active !default;

$shadows: (
  outset: $shadow-outset,
  inset:  $shadow-inset,
  text:   $shadow-text,
  hover:  $shadow-hover,
  active: $shadow-active
) !default;

$box-shadow:                  1.75rem 1.5rem 1.75rem $shadow-outset !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075);


$box-shadow: 1.75rem 1.5rem 1.75rem $shadow-outset !default;
$box-shadow-md: 1.75rem 1.5rem 1.75rem $shadow-outset !default;
$box-shadow-sm: 1.25rem 1rem 1.25rem $shadow-outset !default;
$box-shadow-lg: 2.25rem 2rem 2.25rem $shadow-outset !default;
$box-shadow-active: 1.75rem 1.5rem 1.75rem $active !default !default;
$box-shadow-hover: inset .25rem .50rem .75rem $hover !default;


$box-shadow: (
  property: box-shadow,
  class: shadow (
  null: 1.75rem 1.5rem 1.75rem $shadow-outset,
  md: 1.75rem 1.5rem 1.75rem $shadow-outset,
  sm: 1.25rem 1rem 1.25rem $shadow-outset,
  lg: 2.25rem 2rem 2.25rem $shadow-outset
  )
) !default !default;
