$card-color: $text;
$card-height: null;
$card-bg: $framework-accent;

$card-spacer-y: $spacer-y;
$card-spacer-x: $spacer-x;
$card-title-spacer-y: $base-unit * .5;

$card-border-width: $border-width;

$card-border-color: $framework-accent;
$card-border-radius: $border-radius-lg;
$card-background: null;

$card-body-border: $framework-accent;
$caption-background: $framework-primary;
$card-body-border-radius: $border-radius;

$card-box-shadow: null;
$card-inner-border-radius: subtract($card-border-radius, $card-border-width);
$card-cap-padding-y: $padding-y-md;
$card-cap-padding-x: $padding-x-lg;
$card-cap-bg: $white;
$card-cap-color: null;
$card-height: null;
$card-bg: $white;
$card-img-overlay-padding: $base-unit;
$card-group-margin: $spacer-sm * .5;
