// Resize anything
@mixin resizable($direction) {
  overflow: auto; // Per CSS3 UI, `resize` only applies when `overflow` isn't `visible`
  resize: $direction; // Options: horizontal, vertical, both
}
/*
 * Media query to respond to a minimum size (mobile first)
 */
@mixin resp-min($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
/*
 * Media query to respond to a maximum size
 */
@mixin resp-max($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

/*
 * Output font size in px/rem
 */

@mixin font-size($px) {
    font-size: $px + px;
    font-size: #{$px / 16}rem;
}
