.col1 {width:$col1; lex: 0 0 ;}
.col2 {width:$col2; flex: 0 0 ;}
.col3 {width:$col3; flex: 0 0 ;}
.col4 {width:$col4;   flex: 0 0 ;}
.col5 {width:$col5; flex: 0 0 ;}
.col6 {width:$col6; flex: 0 0 ;}
.col7 {width:$col7;   flex: 0 0 ;}
.col8 {width:$col8;   flex: 0 0 ;}
.col9 {width:$col9;   flex: 0 0 ;}
.col10 {width:$col10;   flex: 0 0 ;}
.col11 {width:$col11;    flex: 0 0 ;}
.col12 {width:$col12; flex: 0 0 ;}
.col13 {width:$col13;   flex: 0 0 ;}
.col14 {width:$col13;   flex: 0 0 ;}
.col15 {width:$col15;  flex: 0 0 ;}
.col16 {width:$col16;   flex: 0 0 ;}
.col-auto {width: auto; flex: 0 0 ;}

.row1 {height:$row1; flex: 0 0 ;}
.row2 {height:$row2; flex: 0 0 ;}
.row3 {height:$row3; flex: 0 0 ;}
.row4 {height:$row4;  flex: 0 0 ;}
.row5 {height:$row5; flex: 0 0 ;}
.row6 {height:$row6; flex: 0 0 ;}
.row7 {height:$row7; flex: 0 0 ;}
.row8 {height:$row8; flex: 0 0 ;}
.row9 {height:$row9; flex: 0 0 ;}
.row10 {height:$row10; flex: 0 0 ;}
.row11 {height:$row11;  flex: 0 0 ;}
.row12 {height:$row12; flex: 0 0 ;}
.row13 {height:$row13; flex: 0 0 ;}
.row14 {height:$row13; flex: 0 0 ;}
.row15 {height:$row15; flex: 0 0 ;}
.row16 {height:$row16; flex: 0 0 ;}
.row-fluid {height: auto; flex: 0 0 ;}
