$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$box-shadow:                  0 .5rem 1rem rgba($black, .15);
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075);


$border-width:                1px;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;

$border-color:                $gray-300;

$border-radius:               .25rem;
$border-radius-sm:            .2rem;
$border-radius-lg:            .3rem;
$border-radius-pill:          50rem;


$font-weight-lighter: 100;
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$lighter: $font-weight-lighter;
$light: $font-weight-light;
$normal: $font-weight-normal;
$bold: $font-weight-bold;
$bolder: $font-weight-bolder;

$font-weights: (
100: $lighter,
300: $light,
500: $normal,
700: $bold,
900: $bolder
);

$font-size-root: null;
$font-size-base: 1.05rem;
$base-size: 1.15;// Assumes the browser default, typically `16px`

$font-sm: calc($font-size-base * .875);
$font-md: $font-size-base;
$font-lg: calc($font-size-base * 1.75);
$font-xl: calc($font-size-base * 2.25);
$font-xxl: calc($font-size-base * 2.75);

$site-title-font-size: $font-xxl; /* 34pt */
$page-title-font-size: $font-xl; /* 28pt */
$post-title-font-size: $font-lg; /* 22pt */
$lead-font-size: calc($font-md * $sm); /* 11pt */
$description-font-size: calc($font-md * $lg);
$body-font-size: calc($font-md * $md); /* 14.5pt */
$meta-font-size: $font-sm;
$author-font-size: calc($font-md * $md);

$site-title: $site-title-font-size;
$page-title: $page-title-font-size;
$post-title: $post-title-font-size;
$lead-text: $lead-font-size;
$description-text: $description-font-size;
$body-text: $body-font-size;
$meta-text: $meta-font-size;
$author-text: $author-font-size;

$text-sizes: (
site-title: $site-title,
page-title: $page-title,
post-title: $post-title,
lead: $lead-text,
description: $description-text,
body: $body-text,
meta: $meta-text,
author: $author-text
);

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$site-title-font-weight: 800;
$display-font-weight: 700;
$page-title-font-weight: 700;
$post-title-font-weight: 600;
$body-font-weight: 400;
$meta-font-weight: 300;
$caption-font-weight: 200;

$letter-spacing-xs: calc(.75 * $spacer-sm)rem;
$letter-spacing-sm: calc(.875 * $spacer-sm)rem;
$letter-spacing-md: calc(1.05 * $spacer-sm)rem;
$letter-spacing-lg: calc(1.25 * $spacer-sm)rem;
$letter-spacing-xl: calc(1.50 * $spacer-sm)rem;
$letter-spacing-xxl: calc(3 * $spacer-sm)rem;

$line-height-base: 1.15;
$line-height-xs: calc(.75 * $line-height-base)rem;
$line-height-sm: calc(.875 * $line-height-base)rem;
$line-height-md: calc(1.05 * $line-height-base)rem;
$line-height-lg: calc(1.25 * $line-height-base)rem;
$line-height-xl: calc(1.50 * $line-height-base)rem;
$line-height-xxl: calc(3 * $line-height-base)rem;

$line-height-page-title: $line-height-xl;
$line-height-post-title: $line-height-lg;
$line-height-description: $line-height-md;
$line-height-body: $line-height-base;
$line-height-meta: $line-height-sm;
$line-height-caption: $line-height-xs;

$title-line-heights: (
  page: $line-height-xl,
  post: $line-height-lg,
  description: $line-height-md,
  body: $line-height-body,
  meta: $line-height-sm,
  caption: $line-height-xs
);

$heading-font-size-base: 1.25vh;

$h1-font-size: $heading-font-size-base * 5;
$h2-font-size: $heading-font-size-base * 4.5;
$h3-font-size: $heading-font-size-base * 4;
$h4-font-size: $heading-font-size-base * 3.5;
$h5-font-size: $heading-font-size-base * 3;
$h6-font-size: $heading-font-size-base * 2.5;
// scss-docs-end font-sizes

$font-sizes: (
  h1: $h1-font-size,
  h2: $h2-font-size,
  h3: $h3-font-size,
  h4: $h4-font-size,
  h5: $h5-font-size,
  h6: $h6-font-size
) !default;


// scss-docs-start headings-variables
$headings-margin-bottom: $spacer-md * .5;
$headings-font-family: null;
$headings-font-style: null;
$headings-font-weight: 600;
$headings-line-height: 1.2;
$headings-color: null;
// scss-docs-end headings-variables

// scss-docs-start display-headings
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$entry-header-font-size: $font-lg;

$display-weight: 300;
$display-line-height: $headings-line-height;
// scss-docs-end display-headings

// scss-docs-start type-variables
$lead-font-size: $base-size * 1.25;
$lead-font-weight: 300;

$small-font-size: sm;

$sub-sup-font-size: xs;

$muted: $silver;

$initialism-font-size: sm;

$blockquote-margin-y: $spacer;
$blockquote-font-size: $font-size-base * 2.25;
$blockquote-footer-color: $gray-300;
$blockquote-footer-font-size: md;

$hr-margin-y:                 $padding-y-sm;
$hr-color: inherit;
$hr-bg-color:                 currentColor;
$hr-border-width:             0;
$hr-height:                   1px;
$hr-opacity: .25;

$legend-margin-bottom: .5rem;
$legend-font-size: xl;
$legend-font-weight: null;

$mark-padding: .2rem;

$dt-font-weight: $font-weight-bold;

$nested-kbd-font-weight: $font-weight-bold;

$list-inline-padding: .5rem;

$mark-bg: $gray-300;

$quotation: obalique;
$citation: italic;
$link: underline;
// scss-docs-end type-variables

// Code

$code-font-size: $small-font-size;
$code-color: $pink;

$kbd-padding-y: .2rem;
$kbd-padding-x: .4rem;
$kbd-font-size: $code-font-size;
$kbd-color: $white;
$kbd-bg: $gray-900;

$pre-color: null;







$font-styles: (
  italic: italic,
  normal: normal,
  obalique: obalique
) !default;


$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: monospace !default;
$body-text-align: left;
$body-bg: $body;
$paragraph-margin-bottom:   1rem !default;
$font-size-root: 1.05;
$font-family-code:            var(--#{$variable-prefix}font-monospace) !default;

$table-cell-padding-y:        .5rem !default;
$table-caption-color:         $text-muted !default;
$table-th-font-weight:        null !default;

$link-shade-percentage:                   20% !default;
$stretched-link-pseudo-element:           after !default;
$stretched-link-z-index:                  1 !default;
