// scss-docs-start gray-color-variables
$white: #e4edf4 !default;
$gray-100: #c0c0c0 !default;
$gray-200: #9a9a9a !default;
$gray-300: #7b7b7b !default;
$gray-400: #626262 !default;
$gray-500: #4e4e4e !default;
$gray-600: #3e3e3e !default;
$gray-700: #323232 !default;
$gray-800: #282828 !default;
$gray-900: #1a1a1a !default;
$black: #000100 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue:            #4169e1 !default;
$indigo:      #60f !default;
$purple: #510bda !default;
$pink: #c39 !default;
$red: #dc3545 !default;
$orange: #f96 !default;
$yellow:          #ffe41e !default;
$green:           #0bda51 !default;
$teal:            #caffff !default;
$cyan:            #0abab5 !default;
$silver:          #a8a9ad !default;
$brown:           #623412 !default;
$gray:       $gray-600 !default;
$dark:            $gray-900 !default;
$light:           $gray-100 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  'blue':       $blue,
  'indigo':     $indigo,
  'purple':     $purple,
  'pink':       $pink,
  'red':        $red,
  'orange':     $orange,
  'yellow':     $yellow,
  'green':      $green,
  'teal':       $teal,
  'cyan':       $cyan,
  'silver':     $silver,
  'brown':      $brown,
  'white':      $white,
  'black':      $black,
  'gray':       $gray,
  'dark':       $dark,
  'light':      $light
) !default;
// scss-docs-end colors-map
