$cjmt-primary-color:             $cjmt-cyan;
$cjmt-secondary-color:           $cjmt-yellow;
$cjmt-accent-color:              $cjmt-silver;
$valid-color:               $cjmt-green;
$info-color:                $cjmt-blue;
$attention-color:           $cjmt-orange;
$invalid-color:             $cjmt-red;
$alert-color:               $cjmt-pink;

$valid-color-border:       $cjmt-green;
$info-color-border:        $cjmt-blue;
$attention-color-border:   $cjmt-orange;
$invalid-color-border:     $cjmt-red;
$alert-color-border:       $cjmt-pink;

$valid-color-bg:           $cjmt-light-cyan;
$info-color-bg:            $cjmt-neon-blue;
$attention-color-bg:       $cjmt-salomie;
$invalid-color-bg:         $cjmt-wild-watermelon;
$alert-color-bg:           $cjmt-hot-pink;
