$cjmt-gray-rgb: (
  cjmt-gray-100-rgb: $cjmt-gray-100-rgb,
  cjmt-gray-200-rgb: $cjmt-gray-200-rgb,
  cjmt-gray-300-rgb: $cjmt-gray-300-rgb,
  cjmt-gray-400-rgb: $cjmt-gray-400-rgb,
  cjmt-gray-500-rgb: $cjmt-gray-500-rgb,
  cjmt-gray-600-rgb: $cjmt-gray-600-rgb,
  cjmt-gray-700-rgb: $cjmt-gray-700-rgb,
  cjmt-gray-800-rgb: $cjmt-gray-800-rgb,
  cjmt-gray-900-rgb: $cjmt-gray-900-rgb
);
$cjmt-theme-color-rgb: (
  cjmt-primary-rgb: $cjmt-primary-rgb,
  cjmt-secondary-rgb: $cjmt-secondary-rgb,
  cjmt-accent-rgb: $cjmt-accent-rgb
);
$contextual-color: (
  valid-color-rgb: $valid-color-rgb,
  info-color-rgb: $info-color-rgb,
  attention-color-rgb: $attention-color-rgb,
  alert-color-rgb: $alert-color-rgb,
  invalid-color-rgb: $invalid-color-rgb
);
$utilities-text-rgb: (
  cjmt-text-muted-rgb: $cjmt-text-muted-rgb,
  cjmt-text-rgb: $cjmt-text-rgb,
  cjmt-bg-rgb: $cjmt-bg-rgb,
  caption-rgb: $caption-rgb,
  caption-border-rgb: $caption-border-rgb,
  light-rgb: $light-rgb,
  dark-rgb: $dark-rgb
)
$utilities-input: (
  input-rgb: $input-rgb,
  input-bg-rgb: $input-bg-rgb,
  input-border-rgb: $input-border-rgb,
  input-focus-rgb: $input-focus-rgb,
  input-focus-bg-rgb: $input-focus-bg-rgb,
  input-focus-border-rgb: $input-focus-border-rgb
);
