/* COLOR MAPS */

/* fusv-disabled*/
/* scss-docs-start cjmt-gray-colors-map */
$cjmt-grays: (
  100: $cjmt-gray-100,
  200: $cjmt-gray-200,
  300: $cjmt-gray-300,
  400: $cjmt-gray-400,
  500: $cjmt-gray-500,
  600: $cjmt-gray-600,
  700: $cjmt-gray-700,
  800: $cjmt-gray-800,
  900: $cjmt-gray-900
);
/* scss-docs-end cjmt-gray-colors-map */
/* fusv-enable */

/* scss-docs-start colors-map */
$cjmt-colors:(
  cjmt-blue:            $cjmt-blue,
  cjmt-indigo:          $cjmt-indigo,
  cjmt-purple:          $cjmt-purple,
  cjmt-pink:            $cjmt-pink,
  cjmt-red:             $cjmt-red,
  cjmt-orange:          $cjmt-orange,
  cjmt-yellow:          $cjmt-yellow,
  cjmt-green:           $cjmt-green,
  cjmt-teal:            $cjmt-teal,
  cjmt-cyan:            $cjmt-cyan,
  cjmt-silver:          $cjmt-silver,
  cjmt-chocolate:       $cjmt-chocolate,
  cjmt-gray:            $cjmt-gray,
  cjmt-black:           $cjmt-black,
  cjmt-white:           $cjmt-white,
  cjmt-camel:           $cjmt-camel,
  cjmt-saltpan:         $cjmt-saltpan,
  cjmt-white-chocolate: $cjmt-white-chocolate,
  cjmt-dark-vanilla:    $cjmt-dark-vanilla,
  cjmt-ghost-white:     $cjmt-ghost-white
);
/* scss-docs-end colors-map */

$cjmt-theme-colors: (
  cjmt-primary:     $cjmt-primary,
  cjmt-secondary:   $cjmt-secondary,
  cjmt-accent:      $cjmt-accent,
  valid:            $valid,
  info:             $info,
  alert:            $alert,
  invalid:          $invalid,
  attention:        $attention
);

$utilities-text-colors:(
  text:               $text,
  body:               $body,
  light:              $light,
  dark:               $dark
);

$utilities-input:(
  input:              $input,
  input-bg:           $input-bg,
  input-border:       $input-border,
  input-focus:        $input-focus,
  input-focus-bg:     $input-focus-bg,
  input-focus-border: $input-focus-border
);
