$cjmt-color-primary:             $cjmt-cyan;
$cjmt-color-secondary:           $cjmt-yellow;
$cjmt-color-accent:              $cjmt-silver;
$cjmt-color-valid:               $cjmt-green;
$cjmt-color-info:                $cjmt-blue;
$cjmt-color-attention:           $cjmt-orange;
$cjmt-color-invalid:             $cjmt-red;
$cjmt-color-alert:               $cjmt-pink;

$cjmt-color-valid-border:       $cjmt-green;
$cjmt-color-info-border:        $cjmt-blue;
$cjmt-color-attention-border:   $cjmt-orange;
$cjmt-color-invalid-border:     $cjmt-red;
$cjmt-color-alert-border:       $cjmt-pink;

$cjmt-color-valid-bg:           $cjmt-light-cyan;
$cjmt-color-info-bg:            $cjmt-neon-blue;
$cjmt-color-attention-bg:       $cjmt-salomie;
$cjmt-color-invalid-bg:         $cjmt-wild-watermelon;
$cjmt-color-alert-bg:           $cjmt-hot-pink;
