$cjmt-primary:             $cjmt-cyan;
$cjmt-secondary:           $cjmt-yellow;
$cjmt-accent:              $cjmt-silver;
$cjmt-valid:               $cjmt-green;
$cjmt-info:                $cjmt-blue;
$cjmt-attention:           $cjmt-orange;
$cjmt-invalid:             $cjmt-red;
$cjmt-alert:               $cjmt-pink;

$cjmt-valid-border:       $cjmt-green;
$cjmt-info-border:        $cjmt-blue;
$cjmt-attention-border:   $cjmt-orange;
$cjmt-invalid-border:     $cjmt-red;
$cjmt-alert-border:       $cjmt-pink;

$cjmt-valid-bg:           $cjmt-light-cyan;
$cjmt-info-bg:            $cjmt-neon-blue;
$cjmt-attention-bg:       $cjmt-salomie;
$cjmt-invalid-bg:         $cjmt-wild-watermelon;
$cjmt-alert-bg:           $cjmt-hot-pink;
